/backend/authapp/migrations/
/backend/main_app/migrations/
/backend/news/migrations/
/backend/news/
/backend/.env
/backend/db.sqlite3.db
/venv

backend/authapp/__pycache__/__init__.cpython-312.pyc
backend/authapp/__pycache__/admin.cpython-312.pyc
backend/authapp/__pycache__/apps.cpython-312.pyc
backend/authapp/__pycache__/forms.cpython-312.pyc
backend/authapp/__pycache__/models.cpython-312.pyc
backend/authapp/__pycache__/urls.cpython-312.pyc
backend/authapp/__pycache__/views.cpython-312.pyc
backend/backend/__pycache__/__init__.cpython-312.pyc
backend/backend/__pycache__/settings.cpython-312.pyc
backend/backend/__pycache__/urls.cpython-312.pyc
backend/backend/__pycache__/wsgi.cpython-312.pyc
backend/main_app/__pycache__/__init__.cpython-312.pyc
backend/main_app/__pycache__/admin.cpython-312.pyc
backend/main_app/__pycache__/apps.cpython-312.pyc
backend/main_app/__pycache__/models.cpython-312.pyc
backend/main_app/__pycache__/urls.cpython-312.pyc
backend/main_app/__pycache__/views.cpython-312.pyc
backend/main_app/services/__pycache__/utils.cpython-312.pyc
backend/main_app/templatetags/__pycache__/__init__.cpython-312.pyc
backend/authapp/__pycache__/backend.cpython-312.pyc
