{% extends 'base.html' %}
{% block content %}

    <h1>Профиль {{ user.username }}</h1>
    <div style="display: flex; align-items: center;">
        <div>
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="Аватар {{ user.username }}" width="100" height="100"
                     style="border-radius: 50%; object-fit: cover;">
            {% endif %}
        </div>
        <div style="margin-left: 20px;">
            <p>Имя: {{ user.first_name }}</p>
            <p>Фамилия: {{ user.last_name }}</p>
            <p>Возраст: {{ user.age }}</p>
            <p><a href="{% url 'photo:user_album_list' username=user.username %}">Альбомы</a></p>
        </div>

    </div>
{% endblock %}