{% load static %}
{% load category_tags %}
{% get_category as categories %}
{% get_article_for_menu as articles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock %}
<div class="vertmenu col-sm-5 col-md-3 text-end ">
    <h1 class="text-center">Категории</h1>
    {% for category in categories %}
        <ul>
            <li>
                <a href="{% url 'main:category_detail' slug=category.slug %}" class="my-text">{{ category }}</a>
                <input type="checkbox" class="subCat" id="{{ category.id }}"/>
                <label class="chka" for="{{ category.id }}"></label>
                <ul >

                    {% for article in articles %}
                        {% if article.category_id == category.pk %}
                            <li>
                                <a href="{% url 'main:article_detail' slug=article.slug %}">{{ article }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}
</div>



