{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}



{% block title %}Форма{% endblock %}
{% block description %}Форма CRUD{% endblock %}
{% block content %}
    <div class="row justify-content-center my-2">
        <div class="col-lg-6 articles" style="max-width: 500px; background-color: #605c5c">

            {% if user.is_anonymous %}
                <h3 class="text-center">Регистрация</h3>
            {% else %}
                <h3 class="text-center">Редактировать профиль</h3>
                <div class="row justify-content-center">
                    <div class="col-sm-7 col-md-5 col-lg-4">
                        {% if user.thumbnail %}
                            <img src="{{ user.thumbnail.url }}" alt="Аватар {{ user.username }}" width="100" height="100"
                         style="border-radius: 50%; object-fit: cover;">
                        {% else %}
                            <img src="{% static 'img/logo/logo_white.png' %}" alt="Аватар {{ user.username }}" width="100" height="100"
                         style="border-radius: 10%; object-fit: cover;">
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <form method="post" class="mt-2 cole" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{% url "authapp:privacy_policy" %}">Нажимая кнопку "Зарегистрироваться" я подтвержаю, что
                    ознакомился с политикой конфиденциальности</a><br>
                <button type="submit" class="btn btn-primary btn-block">
                    {% if user.is_anonymous %}
                        Зарегистрироваться
                    {% else %}
                        Сохранить
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
{% endblock content %}