{% extends 'base.html' %}
{% block title %}контакты{% endblock %}
{% block description %}как со мной связаться{% endblock %}
{% block content %}
    <div class="container-fluid articles">
    <h1 class="text-center">
        Есть несколько способов связаться со мной:
    </h1>
    <h4>
        1. Электронная почта: вы можете написать мне письмо на адрес
        k2foxspb@mail.ru. Отвечу вам в кратчайшие сроки.
    </h4>

        <h4>2. Вы также можете найти меня в Telegram. Мой профиль :</h4>
        <h4>@k2Fox</h4>
        <h4>Не стесняйтесь написать мне личное сообщение.</h4>
        <p>В дальнейшем сделаю коментарии к постам и можно будет писать там)</p>
    </div>
{% endblock %}