{% extends 'base.html' %}
{% load static %}
{% load comments %}
{% block  css %}
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">
{% endblock %}
{% block description %}
    {{ object.preamble }}
{% endblock description %}
{% block keywords %}
    {{ object.keyword }}
{% endblock keywords %}
{% block title %}
    {{ object.title }}
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row row-cols-md-2">
            <div class="col-md-9  ">
                <div itemscope itemtype="https://schema.org/Article" class="articles-detail">
                    {% autoescape off %}
                        <h6 class="card-footer text-end" itemprop="datePublished">{{ object.created }}</h6>
                        <h1 class="card-title text-center" itemprop="headline name">{{ object.title }}</h1>

                        <h5 class="card-title text-center" itemprop="description">{{ object.preamble }}</h5>
                        {% if object.content %}

                            <div itemprop="articleBody">{{ object.content }}</div>

                        {% endif %}
                    {% endautoescape %}
                    <div class="text-end">
                        <a href="{% url 'main:main_category' %}" class="btn my-btn">Назад</a>
                        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                <img itemprop="url image" src="{% static 'img/logo' %}" alt="logo" title="logo"
                                     style="display:none;"/>
                            </div>
                            <meta itemprop="name" content="https://fokin.fun/">
                            <meta itemprop="telephone" content="">
                            <meta itemprop="address" content="Россия">
                        </div>
                    </div>
                </div>
                {% get_comment_count for article as comment_count %}
                <p>количество комментариев: {{ comment_count }} </p>

                <div>

                    {% get_comment_list for article as comment_list %}
                    {% for comment in comment_list %}
                        <div class="articles">
                            <div class="comment-avatar">
                                {% if comment.user.thumbnail %}
                                    <img src="{{ comment.user.thumbnail.url }}" alt="{{ comment.user_name }} avatar">
                                {% else %}
                                    <img src="{% static 'img/logo/background.webp' %}" alt="{{ comment.user_name }} avatar">
                                    {# Или какой-то дефолтный аватар #}
                                {% endif %}
                            </div>
                            <div class="comment-content">
                                <p class=""><strong>{{ comment.user_name }}</strong></p>
                                <p class="">{{ comment.comment }}</p>
                                <p class="comment-date">{{ comment.submit_date }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                {% if user.is_authenticated %}
                    <div class="comment-form container-fluid">
                        {% get_comment_form for article as form %}
                        <form action="{% comment_form_target %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group container-fluid">
                                <label for="id_comment">Comment</label>
                                <textarea id="id_comment" name="comment" class="form-control fixed-size"
                                          rows="5"></textarea></div>

                            {# Скрытые поля - лучше не показывать #}
                            {{ form.honeypot }}
                            {{ form.content_type }}
                            {{ form.object_pk }}
                            {{ form.timestamp }}
                            {{ form.security_hash }}

                            <input type="hidden" name="next" value="{% url 'main:article_detail' article.slug %}"/>
                            <button type="submit" class="btn my-btn">Add comment</button>
                        </form>
                    </div>
                {% else %}
                    <div class="comment-form">
                        <p>Please <a href="{% url 'authapp:login' %}">log in</a> to leave a comment.</p>
                    </div>
                {% endif %}

            </div>


            {% include 'tools/menu_category.html' %}
        </div>
    </div>

{% endblock %}