{% extends 'base.html' %}
{% load static %}
{% block description %}
    {{ object.preamble }}
{% endblock description %}
{% block keywords %}
    {{ object.keyword }}
{% endblock keywords %}
{% block title %}
    {{ object.title|default:"Статья" }}
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row row-cols-md-2">
            <div class="col-md-9  ">
                <div itemscope itemtype="https://schema.org/Article" class="articles-detail">
                    {% autoescape off %}
                        <h6 class="card-footer text-end">{{ object.created }}</h6>
                        <h1 class="card-title text-center" itemprop="headline name">{{ object.title }}</h1>

                        <h5 class="card-title text-center" itemprop="description">{{ object.preamble }}</h5>
                        {% if object.content %}

                                <div itemprop="articleBody">{{ object.content }}</div>

                        {% endif %}
                    {% endautoescape %}
                    <div class="text-end">
                        {% if perms.exp.change_news %}
                            <a class="btn my-btn" href="{% url 'main:article_update'  slug=object.slug %}">
                                редактировать
                            </a>
                        {% endif %}
                        {% if perms.exp.delete_news %}
                            <a class="btn my-btn" href="{% url 'main:article_delete'  slug=object.slug %}">
                                удалить
                            </a>
                        {% endif %}

                        <a href="{% url 'main:main_category' %}" class="btn my-btn">Назад</a>
                    </div>
                </div>

            </div>

            {% include 'tools/menu_category.html' %}
        </div>
    </div>
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="https://fokin.fun/">
        <meta itemprop="telephone" content="">
        <meta itemprop="address" content="Россия">
    </div>

{% endblock %}