{% extends 'base.html' %}
{% block title %}Все статьи{% endblock %}
{% block description %}
    Каждый имеет возможность развиваться и достичь высоких результатов в
    этой увлекательной и динамичной сфере деятельности!
{% endblock %}
{% load static category_tags %}
{% block content %}
    {% get_article as articles %}
    <div class="container-md">
        <div class="row row-cols-md-2">
            <div class="col-md-9 ">
                <h1 class="text-center">Все статьи</h1>
                {% for article in articles %}

                    {% if article.status == 'pu' %}
                        <div itemscope itemtype="https://schema.org/Article" class="articles ck-content">
                            {% autoescape off %}
                                <h3 class="text-center" itemprop="headline name">{{ article.title }}</h3>
                                <h5  itemprop="description">{{ article.preamble }}</h5>
                                <div style="text-align: justify" itemprop="articleBody">{{ article.content|truncatewords:20 }}</div>
                                {% if article.updated > article.created %}
                                    <h6 class="del-update text-start" itemprop="dateModified">Обновлено {{ article.updated }}</h6>
                                {% endif %}
                                <h6 class="text-start" itemprop="datePublished">{{ article.created }}</h6>
                                <div class="text-end">
                                    <a itemprop="mainEntityOfPage" class="btn my-btn text-end" role="button"
                                       href="{% url 'main:article_detail' slug=article.slug %}">Подробнее</a>
                                </div>

                                {#class=" stretched-link" все родительские элементы становятся ссылкой#}

                            {% endautoescape %}
                        </div>
                    {% endif %}

                {% endfor %}
            </div>


            {% include 'tools/menu_category.html' %}

        </div>
    </div>
{% endblock %}






