{% extends 'base.html' %}

{% load static category_tags %}
{% block content %}
    {% get_article as articles %}
    <div class="container-md">
        <div class="row row-cols-md-2">
            <div class="col-md-9 ">
                {% if perms.exp.add_news %}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn my-btn" role="button"
                           href="{% url 'main:article_create' %}">Добавить новость</a>
                    </div>

                {% endif %}
                <h1 class="text-center">Все статьи</h1>
                {% for article in articles %}

                    {% if article.status == 'pu' %}
                        <div class="articles">
                            {% autoescape off %}
                                <h3 class="text-center">{{ article.title }}</h3>
                                <h5 class="text-center">{{ article.preamble }}</h5>
                                <p style="text-align: justify">{{ article.body|truncatewords:20 }}</p>
                                {% if article.updated > article.created %}
                                    <h6 class="del-update text-start">Обновлено {{ article.updated }}</h6>
                                {% endif %}
                                <h6 class="text-start">{{ article.created }}</h6>
                                <div class="text-end">
                                    <a class="btn my-btn text-end" role="button"
                                       href="{% url 'main:article_detail' slug=article.slug %}">Подробнее</a>
                                </div>

                                {#class=" stretched-link" все родительские элементы становятся ссылкой#}

                            {% endautoescape %}
                        </div>
                    {% endif %}

                {% endfor %}
            </div>


            {% include 'tools/menu_category.html' %}

        </div>
    </div>
{% endblock %}






