{% extends 'base.html' %}
{% load static %}

{% block css %}
    <title>Полноэкранное изображение</title>
    <link rel="stylesheet" href="{% static 'css/fullscreen.css' %}">
{% endblock %}

{% block content %}
    <div id="fullscreen-container">
        <button id="fullscreen-close">X</button>
        <img id="fullscreen-image" src="{{ photo_url }}" alt="Фотография">
        <div class="nav-buttons">  <!-- Новый контейнер -->
            {% if prev_photo_id %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="prev" value="{{ prev_photo_id }}" class="nav-button prev-button">
                        &#8592;
                    </button>
                </form>
            {% endif %}
            {% if next_photo_id %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="next" value="{{ next_photo_id }}" class="nav-button next-button">
                        &#8594;
                    </button>
                </form>
            {% endif %}
        </div>
    </div>

    <script>
        const fullscreenImage = document.getElementById('fullscreen-image');
        const closeButton = document.getElementById('fullscreen-close');
        const profileUrl = "{{ album_url }}";
        closeButton.addEventListener('click', () => {
            window.location.href = profileUrl;
        });

        let touchstartX = 0;
        let touchendX = 0;
        const threshold = 50; // Порог чувствительности

        fullscreenImage.addEventListener('touchstart', (event) => {
            touchstartX = event.changedTouches[0].clientX;
        }, {passive: true});

        fullscreenImage.addEventListener('touchend', (event) => {
            touchendX = event.changedTouches[0].clientX;
            handleSwipe();
        }, {passive: true});

        function handleSwipe() {
            const diff = touchendX - touchstartX;
            if (Math.abs(diff) > threshold) {
                if (diff > threshold) {
                    // Свайп влево - предыдущая картинка
                    const prevButton = document.querySelector('.prev-button');
                    if (prevButton) prevButton.click();
                } else {
                    // Свайп вправо - следующая картинка
                    const nextButton = document.querySelector('.next-button');
                    if (nextButton) nextButton.click();
                }
            }
        }

    </script>
    <script src="{% static 'js/photo/swipe.js' %}"></script>

{% endblock %}
