{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% block css %}
    <title>Полноэкранное изображение</title>
    <link rel="stylesheet" href="{% static 'css/fullscreen.css' %}">
{% endblock %}
{% block content %}
    <div id="fullscreen-container">
        <button id="fullscreen-close">X</button>
        <img id="fullscreen-image" src="{{ photo_url }}" alt="Фотография">
        <button id="fullscreen-prev" class="nav-button"> &lt;</button>
        <button id="fullscreen-next" class="nav-button"> &gt;</button>

    </div>

    <script>
        const imageUrls = {{ photo_urls|safe }};
        let currentImageIndex = {{ current_photo_index }};
        const albumUrl = "{% url 'photo_alboms:profile' %}";

        const fullscreenImage = document.getElementById('fullscreen-image');
        const closeButton = document.getElementById('fullscreen-close');

        closeButton.addEventListener('click', closeFullscreen);
        const prevButton = document.getElementById('fullscreen-prev');
        const nextButton = document.getElementById('fullscreen-next');

        prevButton.addEventListener('click', showPrevImage);
        nextButton.addEventListener('click', showNextImage);

        function showNextImage() {
            if (imageUrls.length > 0) {
                currentImageIndex = (currentImageIndex + 1) % imageUrls.length;
                fullscreenImage.src = imageUrls[currentImageIndex];
            }
        }

        function showPrevImage() {
            if (imageUrls.length > 0) {
                currentImageIndex = (currentImageIndex - 1 + imageUrls.length) % imageUrls.length;
                fullscreenImage.src = imageUrls[currentImageIndex];
            }
        }

        function closeFullscreen() {
            window.location.href = albumUrl;
        }

        let touchstartX = 0;
        let touchstartY = 0;
        let touchendX = 0;
        let touchendY = 0;

        fullscreenImage.addEventListener('touchstart', function (event) {
            touchstartX = event.changedTouches[0].clientX;
            touchstartY = event.changedTouches[0].clientY;
        }, {passive: true});

        fullscreenImage.addEventListener('touchend', function (event) {
            touchendX = event.changedTouches[0].clientX;
            touchendY = event.changedTouches[0].clientY;
            handleGesture();
        }, {passive: true});

        function handleGesture() {
            const xDiff = touchendX - touchstartX;
            const yDiff = touchendY - touchstartY;

            if (Math.abs(xDiff) > Math.abs(yDiff)) { // Горизонтальный свайп
                if (xDiff > 0) {
                    showPrevImage();
                } else {
                    showNextImage();
                }
            }
        }

    </script>

{% endblock %}