{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/fullscreen.css' %}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-sm  ">
        <div class="container-lg">
            <a class="navbar-brand" href="{% url 'main:main_category' %}"><img style="width: 50px"
                                                                               src="{% static 'img/logo/logo_white.png' %}"
                                                                               alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_staff and is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link my-navbar" href="{% url 'admin:index' %}">Панель администратора</a>
                        </li>
                    {% endif %}
                    {% if user.is_anonymous or is_authenticated == False %}
                        <li class="nav-item">
                            <a class="nav-link my-navbar" href="{% url 'auth:login' %}">Вход</a>
                            {% else %}
                        </li>


                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link my-navbar" href="{% url 'main:about' %}">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-navbar" href="{% url 'chat:chat-index' %}">Комнаты чатов</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-navbar" href="{% url 'profile:all_users' %}">Все пользователи</a>
                    </li>

                    {% if is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link my-navbar"
                               href="{% url 'photo:photos' %}?username={{ username }}">Мои фотографии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link my-navbar" href="{% url 'auth:logout' %}">Выход</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% endblock navbar %}


{% block content %}
    <h2 class="text-center">Фотоальбомы</h2>

    {% if username == user.username %}
        <div class="text-center">
            <a class="my-btn btn" href="{% url 'photo:create_album' %}">Создать альбом</a>
        </div>
    {% endif %}

    {% if albums %}
        <div class="row">
            {% for album in albums %}
                <div style="margin-top: 10px">
                    <div class="articles">
                        <div class="card-header text-center">
                            <h3>{{ album.title }}</h3>
                            {% if username == user.username %}
                                <a class="my-btn btn" href="{% url 'photo:add_photo' album_id=album.id %}">Добавить фото</a>
                            {% endif %}
                        </div>
                        <div class="">
                            {% if album.photos.all %}
                                <div class="photo-container">
                                    {% for photo in album.photos.all %}
                                        {% if photo.thumbnail %}
                                            <a href="{% url 'photo:fullscreen_image' album_id=album.id photo_id=photo.id %}">
                                                <img src="{{ photo.thumbnail.url }}" alt="{{ photo.caption }}" class="photo img-fluid">
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p class="text-center">В этом альбоме пока нет фотографий.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет альбомов для отображения.</p>
    {% endif %}

{% endblock %}