{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/fullscreen.css' %}">
{% endblock %}
{% block my_str %}
    <li class="nav-item">
        <a class="nav-link my-navbar" href="{% url 'profile:profile' come_user %}">Моя страница</a>
    </li>
{% endblock %}
{% block content %}
    <div class="container">
    <h1><a class="nav-link my-navbar" href="{% url 'profile:profile' user.username %}"><img style="border-radius: 20px; margin-bottom: 10px" src="{{ user.thumbnail.url }}" alt="{{ user.username }}'s avatar" width="32"
                                                                                                     height="32" > {{ user.username }}{{ user.username }} </a></h1>

    {% if come_user == user.username %}
        <div class="text-center">
            <a class="my-btn btn" href="{% url 'photo:create_album' %}">Создать альбом</a>
        </div>
    {% endif %}

    {% if albums %}
        <div class="">
            {% for album in albums %}
                <div style="margin-top: 10px">
                    <div class="articles">
                        <div class="card-header text-center">
                            <h3>{{ album.title }}</h3>
                            {% if come_user == user.username %}
                                <a class="my-btn btn" href="{% url 'photo:add_photo' album_id=album.id %}">Добавить
                                    фото</a>
                            {% endif %}
                        </div>
                        <div class="">
                            {% if album.photos.all %}
                                <div class="photo-container">
                                    {% for photo in album.photos.all %}
                                        {% if photo.thumbnail %}
                                            <a style="color: rgba(0, 0, 0, 0); "
                                               href="{% url 'photo:fullscreen_image' album_id=album.id photo_id=photo.id %}">
                                                <img style="padding-top: 5px; border-radius: 10px"
                                                     src="{{ photo.thumbnail.url }}" alt="{{ photo.caption }}"
                                                     class="photo img-fluid">
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p class="text-center">В этом альбоме пока нет фотографий.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет альбомов для отображения.</p>
    {% endif %}
    </div>
{% endblock %}