{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/fullscreen.css' %}">
{% endblock %}

{% block content %}
    <h2 class="text-center">Фотоальбомы</h2>

    {% if is_authenticated %}
        <div class="text-center">
            <a class="my-btn btn" href="{% url 'photo:create_album' %}">Создать альбом</a>
        </div>
    {% endif %}

    {% if albums %}
        <div class="row">
            {% for album in albums %}
                {% if album.public %}
                    <div  style="margin-top: 10px">
                        <div class="articles">
                            <div class="card-header text-center">
                                <h3>{{ album.title }}</h3>
                                {% if is_authenticated %}
                                    {% if user == album.user or user.is_superuser %}
                                        <a class="my-btn btn" href="{% url 'photo:add_photo' album_id=album.id %}">Добавить фото</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="">
                                {% if album.photos.all %}
                                    <div class="photo-container">
                                        {% for photo in album.photos.all %}
                                            {% if photo.thumbnail %}
                                                <a href="{% url 'photo:fullscreen_image' album_id=album.id photo_id=photo.id %}">
                                                    <img src="{{ photo.thumbnail.url }}" alt="{{ photo.caption }}" class="photo img-fluid">
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="text-center">В этом альбоме пока нет фотографий.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% elif is_authenticated %}
                    {% if user == album.user or user.is_superuser %}
                        <div class="">
                            <div class="articles">
                                <div class="card-header text-center">
                                    <h3>{{ album.title }}</h3>
                                    <a class="my-btn btn" href="{% url 'photo:add_photo' album_id=album.id %}">Добавить фото</a>
                                </div>
                                <div class="card-body">
                                    {% if album.photos.all %}
                                        <div class="photo-container">
                                            {% for photo in album.photos.all %}
                                                {% if photo.thumbnail %}
                                                    <a href="{% url 'photo:fullscreen_image' album_id=album.id photo_id=photo.id %}">
                                                        <img src="{{ photo.thumbnail.url }}" alt="{{ photo.caption }}" class="photo img-fluid">
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <p class="text-center">В этом альбоме пока нет фотографий.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">У вас пока нет фотоальбомов. Создайте свой первый!</p>
    {% endif %}
{% endblock %}