{% extends 'base.html' %}

{% block content %}
<h1>Альбомы пользователя {{ user.username }}</h1>

{% if albums %}
  <div class="row">
    {% for album in albums %}
        <div style="margin-top: 10px" class="">
            <div class="articles">
                <div class="card-header text-center">
                    <h3>{{ album.title }}</h3>
                </div>
                <div class="card-body">
                    {% if album.photos.all %}
                        <div class="photo-grid">
                            {% for photo in album.photos.all %}
                                <a href="{{ photo.image.url }}" target="_blank">
                                    <img src="{{ photo.thumbnail.url }}" alt="{{ photo.caption|default:'Фотография' }}" class="photo-grid-img">
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-center">В этом альбоме пока нет фотографий.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
  </div>
{% else %}
  <p>У пользователя нет альбомов.</p>
{% endif %}

<a href="{% url 'profile:profile' username=user.username %}">Назад к профилю</a>
{% endblock %}