{% load static %}
{% load category_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/delimiter.css' %}">
    <title>{% block title %}заметки программиста{% endblock %}</title>
    <meta name="description" content='{% block description %}{% endblock description %}'>
    <meta name="keywords"
          content='{% block keywords %}{% endblock keywords %}'/>

</head>
<body class="p-3 mb-2 bg-dark text-white">
{% include 'navbar.html' %}
<div style="margin: 10px">
    <div class="container"
         style="background-image:url({% static 'img/logo/web.webp' %});
                 background-size: contain;
                 background-repeat: no-repeat;
                 background-position: center;
                 height: 300px;
                 width: 300px;
                 border: 20px;
                 position: relative;">
        <div style="position: absolute; bottom:0 ;right: 2.5vw; left: 2.5vw ">
            {% include 'tools/delimiter.html' %}
        </div>
    </div>
</div>
{% block content %}{% endblock %}


<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
{% block js %} {% endblock %}

</body>
</html>