{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer class="site-footer">


    <div class="footer-bottom">
        <div class="container">
            <a class="footer-text" href="https://t.me/k2Fox">Telegram: @k2Fox</a>
            <p class="footer-text">
            <a class="footer-text" href="mailto:k2foxspb@mail.ru">Email: k2foxspb@mail.ru</a>
            <p class="footer-text">
                <a href="#">Политика конфиденциальности</a> | <a href="#">Условия использования</a>
        </div>
    </div>
</footer>
