{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer class="site-footer">
    <div class="footer-separator"></div>
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="footer-title">Контакты</h3>
          <p class="footer-text">telegram: @k2foxspb</p>
          <p class="footer-text">Email: k2foxspb@mail.ru</p>
        </div>
        <div class="col-md-6">
          <h3 class="footer-title">Информация</h3>
          <p class="footer-text">© [2024]</p>
          <p class="footer-text">
            <a href="#">Политика конфиденциальности</a> | <a href="#">Условия использования</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">Fokin Fun</p>
    </div>
  </div>
</footer>
