#carousel {
    touch-action: none;
    display: flex;
    height: 500px;
    perspective: 1500px;
    transform-style: preserve-3d;
}

#drag-container,
#spin-container {
    position: relative;
    display: flex;
    margin: auto;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
}

#drag-container a {
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.1);
    border: 8px solid #BFE2FF;
}

#drag-container img {
    width: 100%;
    height: 100%;
    filter: grayscale(50%) contrast(0.8);
    transition: filter 0.3s;
}

#drag-container a:hover img {
    filter: grayscale(0) contrast(1);
}

#drag-container p {
    line-height: 1;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: Serif;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
    color: #337AB7;
    font-family: Verdana, sans-serif;
}

#ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes spinRevert {
    from {
        transform: rotateY(360deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

/*
Где:
radius - Радиус карусели

autoRotate - Автоматическое вращение (true / false)

rotateSpeed - Скорость вращения

imgWidth - Ширина фотографии

imgHeight - Высота фотографии

Чтобы карусель вращалась зажатием и движением мыши в любом месте документа, а не только в ее контейнере, нужно
заменитьcarousel.onpointerdown = function(e) {...} на document.onpointerdown = function(e) {...}

Если в карусели не используются ссылки, а только фотографии, то:

В HTML убираем ссылки
В CSS удаляем класс #drag-container img и заменяем #drag-container a на #drag-container img
В JS заменяем let aImg = ospin.getElementsByTagName("a"); на let aImg = ospin.getElementsByTagName("img");
У автора сделано одновременно оба варианта (с ссылкой и без), но в этом случае происходит конфликт в Firefox

Видео, которое также присутствует в оригинале, я удалил за ненадобностью, как и фоновую музыку.

Если нужно изменять радиус карусели колесом мыши, добавьте вниз скрипта:

document.onmousewheel = function(e) {
e = e || window.event;
let d = e.wheelDelta / 20 || -e.detail;
radius += d;
init(1);
};
 */
