.shadow11 {
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.form_width {
    max-width: 50px;
}

.block-right {
    width: 25%;
    height: 500px;
    overflow: auto;
    float: right;
}

.block-left {
    width: 70%;
}


.page-wrapper {
    display: flex;


}

.left-panel-wrapper {
    width: 200px;

}

.right-panel-wrapper {
    width: 200px;

}

.content-wrapper {
    /*width: 250px;*/
    width: calc(100% - 10px);
    padding: 0 10px;
}