.articles {
    word-wrap: break-word;
    margin-bottom: 30px;
    padding: 20px;
    border: 8px solid #2f0016;
    background-color: #444444;

}

.article {
    word-wrap: break-word;
    margin-bottom: 0;
    padding: 10px;


.my-title {
    color: #e50606;
}

    background-color: #444444;
}

.background {
    background-color: #e1dddd;
}

.my-btn {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff !important;
    padding: 8px 15px;
    border-radius: 5px;
    background: linear-gradient(to top, #000000, #2f0016);
}

.my-btn:hover {
    color: #cccccc !important;
    background: linear-gradient(to top, #2f0016, #000000);
}
.my-text {
    color: #2f0016;
    font-weight:900;
}
.my-text:hover {
    color: #000000;
}