{% extends 'base.html' %}
{% load static %}
{% block footer %}{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h2>Комната: {{ room }}</h2>



        <div class="row">
            <div class="col-12 col-md-8">
                <div id="mydiv" class="mb-2 mydiv articles-detail">
                    {% for message in room.get_message %}
                        <div class="message">
                            {{ message.user.username }}<br>
                            {{ message.content }} <br>
                            <div class="date">
                                {{ message.get_time_msg }}
                            </div>

                        </div>
                    {% endfor %}
                </div>
                {% if user.is_authenticated %}
                    <div style=" margin:10px 5px; text-align: center">
                        <label for="chatMessageInput"></label><input type="text"
                                                                     id="chatMessageInput"
                                                                     placeholder="Enter your chat message">

                            <button class="my-btn" id="chatMessageSend" type="button">Send</button>
                    </div>
                {% else %}
                    <h6><a href="{% url 'auth:login' %} " style="color: #670000">Войдите в аккаунт</a>, что бы написать сообщение</h6>
                     <div style=" margin:10px 5px; text-align: center">
                        <label for="chatMessageInput"></label><input type="text"
                                                                     id="chatMessageInput"
                                                                     placeholder="Enter your chat message">

                            <button class="my-btn" id="chatMessageSend" type="button">Send</button>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-4">
               <div id="onlineUsersSelector" class="mydiv articles-detail">
            </div>
            </div>
        </div>
        {{ room.name|json_script:"roomName" }}
    </div>
    <script src="{% static 'js/channels-messages/room.js' %}"></script>
{% endblock %}