{% extends 'base.html' %}
{% load static %}
{% block title %}заметки программиста{% endblock %}
{% block description %}Личный блог о веб-разработке{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
    class="text-white my-background"
    style="
    background-image: url({% static 'img/logo/background.webp' %});
    background-color: black;"
{% endblock %}
{% block content %}
    <div class="text-center my-prgm">
        <h1>

            <p class="centerr"><img src="{% static 'img/logo/logo_white_text.png' %}" style="width:200vw; max-width:1000px; min-width:70px"
                alt="favicon"></p>
        </h1>

    </div>

{% endblock %}