{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}

{% block content %}
    <div id="carousel">
        <div id="drag-container">
            <div id="spin-container">
                <a href="{% url 'main:main' %}}"><img src="{% static 'img/1.jpg' %}" alt=""/></a>
                <!-- Еще фото -->
                <a href="{% url 'main:main' %}"><img src="{% static 'img/2.jpg' %}" alt=""/></a>
                <p>ghbdtn</p>
            </div>
            <div id="ground"></div>
        </div>
    </div>
    <script src="{% static 'js/carousel.js' %}"></script>



{% endblock %}